@media (width < 768px) {
  .header {
    min-block-size: 323px;
  }

  .card__subtitle {
    top: 22px;
    right: 10px;
  }
 
  .card__image-box {
    block-size: 372px;
  }

  .card__content-box {
    padding-inline-start: 23px;
    padding-block-start: 28px;
  }

  .save-button {
    flex-direction: column;
    gap: 15px;
  }

  .save-button .button__text {
    display: block;
  }

  .save-button__floppy {
    transform: scale(1.35);
  }

  .dialog {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}

  

