/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-block-size: 100dvh;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight-text);
  color: var(--accent-color);
  background: var(--bg-color);
  background-image: var(--bg-image);
  padding-block-start: 102px;
  padding-block-end: 105px;
}

.container {
  max-inline-size: 700px;
  inline-size: calc(100% - 4px);
  margin: auto;
}

/* ---------------------------------------------------HEADER STYLES START---------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-block-size: 364px;
  inline-size: 100%;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  outline: 2px solid var(--accent-color);
  padding-block-end: 24px;
  margin-block-end: 104px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
  font-weight: var(--main-font-weight-title);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 0.875rem;
  padding-inline-start: 18px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0;
  transition: 0.3s;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::after {
  content: "▶";
  inline-size: 14px;
  block-size: 14px;
  opacity: 0.6;
  position: absolute;
  left: -20px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}
.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::before {
  content: "";
  width: 100%;
  height: 2px;
  text-decoration: underline;
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.6;
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::before {
  transform: scaleX(1);
}

/* ---------------------------------------------------HEADER STYLES END-------------------------------------------------- */

/* ---------------------------------------------------CARDS STYLES START------------------------------------------------- */

.cards__list-item {
  margin-block-end: 52px;
}

.card {
  margin-block-end: 50px;
  background: var(--bg-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.card:last-child {
  margin-block-end: 0;
}

.card__title {
  padding: 4px 10px 4px 8px;
  font-size: 1.125rem;
  border-inline: 2px solid var(--accent-color);
  border-block-start: 2px solid var(--accent-color);
  font-weight: var(--main-font-weight-title);
}

.card__image-box {
  max-block-size: 701px;
  position: relative;
}

.card__subtitle {
  mix-blend-mode: hard-light;
  position: absolute;
  right: 27px;
  top: 27px;
  font-family: var(--accent-font);
  text-shadow: 1px var(--text-stroke-color);
  opacity: 0.5;
  font-size: 0.875rem;
  z-index: 1;
}

.text--uppercase {
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or
  (text-stroke: 1px var(--text-stroke-color)) {
  .my-text {
    color: white;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--accent-color);
}

.card--multiple {
  filter: brightness(2) contrast(2) blur(2px);
}

.card--contrast {
  filter: contrast(2);
}

.card--grey-scale {
  filter: grayscale(0.9);
}

.card--hue-rotate {
  filter: hue-rotate(90deg);
}

.card--invert {
  filter: invert(0.8);
}

.card--opacity {
  filter: opacity(0.5);
}

.card--saturate {
  filter: saturate(3);
}

.card--sepia {
  filter: sepia(3);
}

.card__content-box {
  border-inline: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
  padding: 25px;
}

.card__description {
  font-size: 1.125rem;
  line-height: 21px;
  margin-block-end: 25px;
  font-weight: var(--main-font-weight-text);

}

.card__description:last-child {
  margin-block-end: 0;
}

.cards__button-box {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 6px;
}

.button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 0;
  transition: outline 0.3s ease;
  cursor: pointer;
  position: relative;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button {
  outline: 2px solid transparent;
  border: none;
  display: flex;
  align-items: end;
}

.card__icon-button::before {
  display: none;
}

.card__icon-button:focus-visible {
  box-shadow: none;
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  font-family: var(--accent-font), sans-serif;
  inline-size: 130px;
  block-size: 38px;
  text-align: center;
  font-size: 14px;
  line-height: 90%;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--hover-bg-color);
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scaleX(1);
}

/* ---------------------------------------------------CARDS STYLES END------------------------------------------------- */

/*----------------------------------------------------FOOTER STYLES START------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 21px;
  font-family: var(--accent-font), sans-serif;
  background-color: var(--bg-color);
  font-size: 14px;
}

.footer__button-floppy {
  width: 21px;
  height: 21px;
}

.footer__dialog .footer__button-floppy {
  transform: scale(2);
}

.footer__dialog {
  max-inline-size: 357px;
  padding: 30px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.footer__dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.footer__dialog-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 29px;
  margin-block-end: 30px;
  justify-content: center;
  align-items: center;
  padding-inline-start: 10px;
}

.footer__dialog-title {
  font-family: var(--accent-font);
  font-size: 0.875rem;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__button {
  inline-size: 100%;
  padding: 9px 17px 9px 17px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--accent-font);
}
